In [1]:
###   OPERADORES ###
#OPERADORES ARITMETICOS
""" nos permite operar con números , sean enteros hasta complejos"""

print(3 + 4)
print(3 - 4)
print(3 * 4)
print(3 / 4)

7
-1
12
0.75

In [2]:
#Operador de modulo 
print(10 % 2)
print(10 % 3)
print(10 % 5)

"""lo que da de resultado es el resto de la división"""""

0
1
0

'lo que da de resultado es el resto de la división'

In [3]:
"""OPERADOR DE DIVISION"""
print(2 / 3)
print(2 // 3) #es igual que el operador "/" pero en este caso redondea.
print(10 / 2)
print(10 // 2)
print(5 + 7 + 8 - 7 / 1 // 4)
print(2 ** 3 + 3 - 7 / 1 // 4)

0.6666666666666666
0
5.0
5
19.0
10.0

In [4]:
#OPERADOR CON EXPONENTE 
print(2**3)
print(5**10)

8
9765625

In [5]:
#OPERADORES CON CADENAS--PARA CONCATENAR

print("hola" + "Python")

holaPython

In [6]:
print("Hola " + "Tony," +"¿Qué tal?")

Hola Tony,¿Qué tal?

In [7]:
print("Hola " + str(5))

Hola 5

In [8]:
#MULTIPLICAR CADENAS
print("hola " * 3)
print("666852553 " * 7)
print("666852553\n" * 7)#este es un caracter especial "\n"

hola hola hola
666852553 666852553 666852553 666852553 666852553 666852553 666852553
666852553
666852553
666852553
666852553
666852553
666852553
666852553

In [9]:
print("hola " * (2 ** 3))

hola hola hola hola hola hola hola hola

In [10]:
#Nos va a dar error
print("hola" * 2.5) #porque los números decimales son float no int

TypeError: can't multiply sequence by non-int of type 'float'

In [ ]:
# Creamos una variable que se adapte al tipo de número
my_float = 2.5 * 2
my_float1=3 * 2
my_float2=3.3 * 3

print("hola " * int(my_float))
print("Hola " * int(my_float1))
print("Hola " * int(my_float2))

"""es importante usar el int(variable que sea)"""

hola hola hola hola hola
Hola Hola Hola Hola Hola Hola
Hola Hola Hola Hola Hola Hola Hola Hola Hola

'es importante usar el int(variable que sea)'

In [ ]:
#OPERADORES DE COMPARACIÓN O COMPARATIVOS
print(3 > 4)
print(3 < 4)
print(3 <= 4)
print(3 >= 4)
print(3 == 4)
print(3 != 4)

False
True
True
False
False
True

In [ ]:
#COMPARAR CADENAS
print("hola" == "hola")

True

In [1]:
print("Hola" < "Hola")
print("python" == "PYTHON")
print("Hola" > "Python")
print("aa" >= "aa")
print("Hola" != "Python")
print("Hola" != "Hola")

##Comparamos en orden ALFABÉTICO##
#Tiene en cuenta las mayúsculas sobre las minúsculas

False
False
False
True
True
False

In [ ]:
##OPERADORES LÓGICOS

print(3 > 4 and "HOLA" > "PYTHON") 
print(3 > 4 or "HOLA" > "PYTHON")

False
False

In [ ]:
print(3 < 4 and "HOLA" < "PYTHON")
print(3 < 4 or "HOLA" < "PYTHON")
print(3 < 4 or "HOLA" < "PYTHON" and 4==4)

True
True
True

In [ ]:
print(3 > 4 not "hola" > "python")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (920703616.py, line 1)

In [ ]:
print(3 > 4)
print(not(3>4))

False
True