In [12]:
###LISTS###

my_list = list()
my_other_list = []

print(len(my_list))

my_list = [35, 24, 62, 52, 30, 30, 17]
print(my_list)
print(len(my_list))

my_other_list = [25,1.74,"Anthony","Martinez"]
print(my_other_list)
print(len(my_other_list))

print(type(my_other_list))
print(my_other_list[0])
print(my_other_list[1])
print(my_other_list[-1])
print(my_other_list.count("Martinez"))

0
[35, 24, 62, 52, 30, 30, 17]
7
[25, 1.74, 'Anthony', 'Martinez']
4
<class 'list'>
25
1.74
Martinez
1

In [11]:
my_other_list = [25, 1.74, "Anthony", "Martinez"]
age,height,name,surname=my_other_list
print(name)
print(height)
print(age)

Anthony
1.74
25

In [10]:
my_other_list2=[23,"Imane","Abdeslami",1.71]
print(my_other_list2[0])
print(my_other_list2[1])
print(my_other_list2[2])
print(my_other_list2[3])
print(my_other_list2[-1])
print(my_other_list2[-3])

age,name,surname,height=my_other_list2
print(name)
print(height)
print(surname)
print(age)

23
Imane
Abdeslami
1.71
1.71
Imane
Imane
1.71
Abdeslami
23

In [9]:
#CONCATENAR LISTAS
print(my_other_list + my_other_list2)
print(my_list + my_other_list)

NameError: name 'my_other_list' is not defined

In [2]:
#TIPADO DINAMICO 

my_list="Hola Python" #con esto vamos a transformar de "tipo list"" a "tipo str"
print(type(my_list))
print(my_list)
#Esto quiere decir que vamos a dejar de tener my_list con las funciones de una lista a tener funciones de str

<class 'str'>
Hola Python

In [1]:
#CREAR CONSTANTES

 my_list=list("Hola Python")

IndentationError: unexpected indent (2665726669.py, line 3)

In [11]:
#AÃ±adir un nuevo elemento a la lista # OPERADOR .APPEND

my_other_list = [25, 1.74,"Anthony","Martinez"]
age, height, name, surname = my_other_list
my_other_list.append("Campohats")
print(my_other_list)

[25, 1.74, 'Anthony', 'Martinez', 'Campohats']

In [14]:
#FUNCION .INSERT
my_other_list.insert(1,"rojo")
print(my_other_list)
my_other_list[1]="Azul"
print(my_other_list)
#my_other_list.insert(1,"Azul")
#print(my_other_list)
#my_other_list.insert(0,"Azul")
#print(my_other_list)

[25, 'rojo', 1.74, 'Anthony', 'Martinez', 'Campohats']
[25, 'Azul', 1.74, 'Anthony', 'Martinez', 'Campohats']

In [23]:
#FUNCION .REMOVE ( ELIMINA UN ELEMENTO DE LA LISTA)
my_other_list.remove("Azul")
print(my_other_list)

[25, 'Azul', 1.74, 'Anthony', 'Martinez', 'Campohats']

In [50]:
my_list = [35, 24, 62, 52, 30, 30, 17]
print(my_list)
my_list.pop()
print(my_list)

[35, 24, 62, 52, 30, 30, 17]
[35, 24, 62, 52, 30, 30]

In [28]:
my_other_list.pop()
print(my_other_list)

['Azul']

In [49]:
my_other_list = [25, 1.74, "Anthony", "Martinez"]
#print(my_other_list)
print(my_other_list.pop(0))

25

In [52]:
my_pop_element=my_other_list.pop(0)
print(my_pop_element)

25

In [10]:
my_list=[26,23,14,48,52]
print(my_list)
print(my_list.index(23))

[26, 23, 14, 48, 52]
1

In [55]:
del my_list[0]
print(my_list)

[23, 14, 48, 52]

In [57]:
del my_list[1]
print(my_list)

[23, 48, 52]

In [58]:
del my_list[2]
print(my_list)

[23, 48]

In [59]:
my_list=[26,23,14,48,52]
print(my_list)
my_list.clear()#borramos la lista entera
print(my_list)

[26, 23, 14, 48, 52]
[]

In [3]:
#FUNCION .COPY
my_list = [26, 23, 14, 48, 52]
print(my_list)
my_new_list=my_list.copy()
my_list.clear()
print(my_list)
print(my_new_list)

[26, 23, 14, 48, 52]
[]
[26, 23, 14, 48, 52]

In [8]:
#FUNCION .REVERSE
my_new_list.reverse()
print(my_new_list)

[52, 48, 14, 23, 26]

In [9]:
#FUNCION .SORT
my_new_list.sort()
print(my_new_list)#EN ESTE CASO TE LO ORDENA DE MENOR A MAYOR

"""Y hasta aquÃ­ el tema de LISTAS"""

[14, 23, 26, 48, 52]