In [1]:
my_variable = "Pomodoro está barato"
print(my_variable)

print(len(my_variable))

my_into_to_str_variable = "No me gustan las tempuras"
print(my_into_to_str_variable)

print(my_into_to_str_variable)

my_bool_variable = False
print("Este es el valor de:", my_bool_variable,
      my_variable, my_into_to_str_variable)
# Operadores

print(5 != 7)
print(3 < 4)
print(4 == 4)
print(3 >= 4)

print(3 != 4)

print("Hola" > "HOLA")
print("HOLA" == "HOLA")
print("HOLA" > "hola")

# Operadores lógicos

print(3 >= 3)
print(not (3 > 3))
print(3 < 3)
print(not (3 < 3))

# 03STRINGS
"FORMATEAR STRINGS"

name, surname, age = "Antonio", "Martinez", 54
print("Mi nombre es {} {} y mi edad es {}".format(name, surname, age))

name, surname, age = "Anthony", "Martinez", 25
print("Mi nombre es {} {} y mi edad es {}".format(name, surname, age))
"la forma menos optima,menos recomendada y mas complicada seria asi:"
print("Mi nombre es " + name + " " + surname + " y mi edad es " + str(age))
"usamos un str para concatenar la variable (age) que tiene un valor de numerico y se necesita hacer la transformación para que funcione"

# REPASO DEL APARTADO 03 STRINGS

name, surname, age = "Olga", "Campoverde", 48
print("Mi nombre es {} {} y mi edad es {}".format(name, surname, age))
name, surname, age = "Olga", "Campoverde", 48
print("Me llamo {} {} y tengo {}".format(name, surname, age))

Pomodoro está barato
20
No me gustan las tempuras
No me gustan las tempuras
Este es el valor de: False Pomodoro está barato No me gustan las tempuras
True
True
True
False
True
True
True
False
True
True
False
True
Mi nombre es Antonio Martinez y mi edad es 54
Mi nombre es Anthony Martinez y mi edad es 25
Mi nombre es Anthony Martinez y mi edad es 25
Mi nombre es Olga Campoverde y mi edad es 48
Me llamo Olga Campoverde y tengo 48

In [2]:
#INFERENCIA DE DATOS

name,surname,age="Anthony","Martinez",25
print(f"Mi nombre es {name} {surname} y mi edad es {age}")
name,surname,surname2,age="Paloma","Martinez", "Campoverde",13
print(f"Mi nombre es {name} {surname} {surname} y tengo {age} ")
name,surname,age="Imane","Abdeslami", 23
print(f"Mi nombre es {name} {surname} y mi edad es {age}")

Mi nombre es Anthony Martinez y mi edad es 25
Mi nombre es Paloma Martinez Martinez y tengo 13
Mi nombre es Imane Abdeslami y mi edad es 23

In [3]:
#Desempaquetado de Caracteres 
"creamos la variable (language)"
language="PERSEVERANCIA"
a,b,c,d,e,f,g,h,i,j,k,l,m=language
print(a)
print(m)
print(c)

P
A
R

In [4]:
#Division
language_slice=language[1:13]
print(language_slice)
language_slice = language[0:13]
print(language_slice)

ERSEVERANCIA
PERSEVERANCIA

In [5]:
language = "PERSEVERANCIA"
a, b, c, d, e, f, g, h, i, j, k, l,m= language
print(a)
print(m)
language_slice=language[0:6]
print(language_slice)
language_slice = language[0:7:5]
print(language_slice)
language_sliceO=language[0:13:12]
print(language_sliceO)

P
A
PERSEV
PV
PA

In [6]:
#Reverse
language = "PERSEVERANCIA"
a, b, c, d, e, f, g, h, i, j, k, l, m = language
print(a)
print(m)
reverse_language= language[::-1]
print(reverse_language)
reverse_language = language[::+1]
print(reverse_language)
reverse_language=language[::+5]
print(reverse_language)
reverse_language = language[::+2]
print(reverse_language)

P
A
AICNAREVESREP
PERSEVERANCIA
PVC
PREEACA

In [7]:
my_list=list()
my_other_list=[]

print(my_list)
print(my_other_list)

my_other_list=(22,"Imane","Abdeslami","Guapa")
print(my_other_list)
print(my_other_list[3])
print(my_other_list[-1])
print(my_other_list.count("Imane"))

[]
[]
(22, 'Imane', 'Abdeslami', 'Guapa')
Guapa
Guapa
1

In [8]:
# 11/03/2023

n1, n2, n3 = 1, 4, 15
suma = n1 + n2 + n3
multiplicacion = n1 * n2
multiplicacion2 = n1 * n3
print(suma)
print(multiplicacion)
print(multiplicacion2)

print(3/2)
print(3**2)
print(10*15)

my_variable = "My string variable"
print(my_variable)
my_int_variable=53 #entero
print(my_int_variable)
my_bool_variable=False #F o V
print(my_bool_variable)
my_int_to_str_variable=str(my_int_variable) #cadena 
print(my_int_to_str_variable)
print(type(my_int_to_str_variable))#nos dice el tipo de dato que es

print(len(my_int_to_str_variable))

print("Este es el valor de:", my_int_to_str_variable)

print(" mi variable se llama",my_variable ,"\n","tiene el valor de:",my_int_variable,"\n","todo esto es un valor ciertamente:",my_bool_variable)

name,surname,age="Anthony","Martinez",25
print("Mi nombre es %s %s y mi edad es %s".format(name,surname,age))
print("Mi nombre es {} {} y mi edad es {}".format(name,surname,age))
print(f"Mi nombre es {name} {surname} y mi edad es {age}")

20
4
15
1.5
9
150
My string variable
53
False
53
<class 'str'>
2
Este es el valor de: 53
 mi variable se llama My string variable
 tiene el valor de: 53
 todo esto es un valor ciertamente: False
Mi nombre es %s %s y mi edad es %s
Mi nombre es Anthony Martinez y mi edad es 25
Mi nombre es Anthony Martinez y mi edad es 25

In [9]:
#12/03/2023
my_other_list = [25, 1.74, "Anthony", "Martinez"]
my_other_list2=[23,"Imane","Abdeslami",1.71]

age,height,name,surname=my_other_list
age2,name2,surname2,height2=my_other_list2
print(age)
print(age2)
print(name)
print(name2)
print(surname)
print(surname2)
print(height)
print(height2)

#CONCATENACION DE 2 LISTAS
print(my_other_list + my_other_list2)

25
23
Anthony
Imane
Martinez
Abdeslami
1.74
1.71
[25, 1.74, 'Anthony', 'Martinez', 23, 'Imane', 'Abdeslami', 1.71]

In [10]:
# 14/03/2023

 #LISTAS 
 #my_list="Hola bro"#no nos funciona porque es una str debemos transformarlo a list
 #print(my_list)#
my_list=["Anthony","Bro","Giggo"]
print(type(my_list))
print(my_list)

my_list.append("Titan")
print(my_list)

<class 'list'>
['Anthony', 'Bro', 'Giggo']
['Anthony', 'Bro', 'Giggo', 'Titan']

In [11]:

my_list.insert(0,"Developer")
print(my_list)

my_list.remove("Developer")
print(my_list)

['Developer', 'Anthony', 'Bro', 'Giggo', 'Titan']
['Anthony', 'Bro', 'Giggo', 'Titan']

In [12]:
my_list.remove("León")
print(my_list)

ValueError: list.remove(x): x not in list

In [ ]:
my_list5=[100,550,900,1250,1600,1900,2250]
#Operador .append 
my_list5.append(5000)
print(my_list5)
#Operador .insert 
my_list5.insert(0,0)
print(my_list5)
#Operador .remove
my_list5.remove(550)
print(my_list5)
#Operador .pop
my_list5.pop()#elimina el ultimo elemento
print(my_list5)

print(my_list5.pop())#elimina y nos da el elemento que hemos eliminado
my_list5.pop(0)  #Nos elimina un elemento en un lugar concreto
print(my_list5.pop(0))# elimina y nos muestra lo que se almacena y nos retorna.

[100, 550, 900, 1250, 1600, 1900, 2250, 5000]
[0, 100, 550, 900, 1250, 1600, 1900, 2250, 5000]
[0, 100, 900, 1250, 1600, 1900, 2250, 5000]
[0, 100, 900, 1250, 1600, 1900, 2250]
2250
100

In [ ]:
print(my_list5)

[900, 1250, 1600, 1900]

In [ ]:
print(my_list5.pop())

1900

In [ ]:
print(my_list5.pop())

[900, 1250, 1600]

In [ ]:
print(my_list5.pop(2))

1600

In [ ]:
print(my_list5)
#perfecto

[900, 1250]

In [ ]:
#ELIMINAR UNA LISTA ENTERA
del my_list5[0]
print(my_list5)

[1250]

In [ ]:
#LIMPIAR LA LISTA ENTERA
my_list5.clear()
print(my_list5)

[]

In [ ]:
#REPASO 19/03/2023

##TUPLES##
#SON VALORES CONSTANTES A DIFERENCIA DE LAS LISTAS
#NO SOPORTA LAS VARIABLES (INMUTABLE)

my_tuple=tuple()
my_other_tuple=[]#nos dice que es una lista
print(type(my_other_tuple))

my_tuple=(26,1.74,"Anthony","Martinez")
print(my_tuple)
my_other_tuple=(3455,12)
print(type(my_other_tuple))

print(my_tuple[0])
print(my_tuple[-1])
#print(my_tuple[4])#index error
#print(my_tuple[-6])#index error
#print(my_tuple[41])#index error

#my_tuple.count() aspecto de la funcion .count
print(my_tuple.count("Anthony"))
print(my_tuple.index("Anthony"))
print(my_tuple.index("Martinez"))

#my_tuple[0]=24
#print(my_tuple) no soporta las variables

print(my_tuple + my_other_tuple)

<class 'list'>
(26, 1.74, 'Anthony', 'Martinez')
<class 'tuple'>
26
Martinez
1
2
3
(26, 1.74, 'Anthony', 'Martinez', 3455, 12)

In [4]:
#25/03/23
# del my_tuple name 'my_tuple' is not defined(no tiene esa función)

#SETS
my_list=list()
my_set=set()
print(type(my_set))

my_other_set={}
print(type(my_other_set))  # <class 'dict'> (diccionario) solo ocurre asi y ya está no tiene una explicación clara por el momento
my_other_set={"Anthony","Leon",25}
print(type(my_other_set))# en este caso es un tipo set, ya que contiene datos

<class 'set'>
<class 'dict'>
<class 'set'>

In [5]:
#26/03/2023
#sets
my_first_set={"Canelones","Caldo de bola","Burritos","Pizza","Mousse de chocolate"}
print(my_first_set)
my_first_set.add("Helado de kit kat")
print(my_first_set)#no es una estructura ordenada

{'Canelones', 'Burritos', 'Caldo de bola', 'Pizza', 'Mousse de chocolate'}
{'Canelones', 'Burritos', 'Helado de kit kat', 'Caldo de bola', 'Pizza', 'Mousse de chocolate'}

In [6]:
print("Anthony" in my_first_set)
print("Burritos" in my_first_set)
print("Pizza" in my_first_set)
print("Mousse de chocolate" in my_first_set)

False
True
True
True

In [10]:
#28/03/23
#Sets

my_set={"Imane","Guapa","Pintora","Brava"}
my_list=list(my_set)
print(type(my_list))
print(my_list[1])
print(my_list[3])

<class 'list'>
Guapa
Brava

In [13]:
#.union
my_set={"Retiro","Pomodoro","Casa"}
my_other_set={26,23,28,25}
my_new_set=my_set.union(my_other_set)
print(my_new_set)
print(my_new_set.union(my_new_set).union({"Programador","Ingeniera"}))

{28, 'Retiro', 23, 25, 26, 'Pomodoro', 'Casa'}
{'Ingeniera', 'Retiro', 'Programador', 'Pomodoro', 'Casa', 23, 25, 26, 28}